{
	"singleQuote": false,
	"trailingComma": "all",
	"useTabs": true,
	"printWidth": 120,
	"proseWrap": "always",
	"overrides": [
		{
			"files": ".prettierrc",
			"options": {
				"parser": "json"
			}
		}
	],
	"semi": true
}
